@import url(http://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
  overflow: hidden;
}

.meny{
	z-index: 9999;
	position: fixed;
	overflow: auto;
}

nav{
   width:100%;
   height:10%;
   background:lightblue;
}


nav ul{
    margin: auto auto;
    width: 1000px;
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    display: block;
  	margin-right: 100;
  	width: 100%;
    font-size: 140%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

body {
  margin:0;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
}

h1 {
   font-size: 250%;
}

h2 {
   font-size: 250%;
}

p {
  font-size: 140%;
  line-height: 150%;
  color: #333;
}

.box {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 15%;
  background: lightgrey;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide {
  position: relative;
  padding: 25vh 0;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}


.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.slide:nth-child(2n) {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title {
  background-image: url("brygga.jpg");
   background-attachment: fixed;
}

#slide1:before {
  background-image: url("gbyen.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("elv.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("torv.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}
